.reports {
    display: block;
    flex-shrink: 0;
    margin-right: -251px;
    width: 250px;
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    background: var(--background-color);
    transition: 0.2s margin-right, 0.2s flex-grow;
    overflow: auto;
    user-select: none;
}

.reports.open {
    margin-right: 0;
    flex-grow: 0.25;
    transition: 0.2s margin-right ease;
}

.reports-item {
    display: block;
}

.reports-item.empty {
    opacity: 0.5;
}

.reports-item.empty .reports-item-main:before {
    opacity: 0;
}

.reports-item.empty .reports-item-export {
    display: none;
}

.reports-item-main {
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 8px;
}

.reports-item-progress {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: #2a566f;
}

.reports-item.future .reports-item-progress {
    display: block;
}

.reports-item-main:before {
    content: '';
    margin: auto 10px auto 5px;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #888;
    border-style: solid;
}

.reports-item.showTimers .reports-item-main:before {
    margin-left: 0px;
    border-width: 5px 5px 0 5px;
    border-color: #888 transparent transparent transparent;
}

.reports-item-left {
    flex-grow: 1;
    padding: 6px 0;
}

.reports-item-date {
    display: block;
    font-size: 14px;
    color: #f8f8f8;
    padding-bottom: 4px;
}

.reports-item-hours {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #9e9ea1;
}

.reports-item-export {
    flex-grow: 0;
    flex-shrink: 0;
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height: inherit;
    background-image: url(../assets/export.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px auto;
    margin-right: -8px;
}

.reports-item-export:hover {
    background-image: url(../assets/export-hover.svg);
}

.reports-item-export:active {
    background-image: url(../assets/export-active.svg);
}

.reports-item-timers {
    display: block;
    background: #1d1e20;
    padding: 4px 0 4px 20px;
    border-radius: 4px;
}

.reports-item-timers-item {
    display: flex;
    flex-direction: row;
    padding: 8px 0;
    padding-right: 10px;
}

.reports-item-timers-item-left {
    flex-grow: 1;
}

.reports-item-timers-item-date {
    display: block;
    font-size: 12px;
    color: #e4e4e4;
    padding-bottom: 2px;
}

.reports-item-timers-item-total-hours {
    display: inline-block;
    color: #777;
    float: right;
}

.reports-item-timers-item-times {
    display: block;
    font-size: 12px;
    color: #9e9ea1;
}

.reports-item-timers-item-open {
    flex-grow: 0;
    flex-shrink: 0;
    display: inline-block;
    cursor: pointer;
    width: 26px;
    height: inherit;
    background-image: url(../assets/export.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px auto;
}

.reports-open-data-directory,
.reports-open-exporter-directory {
    text-align: center;
    cursor: pointer;
    padding: 8px 8px;
    color: #4e4e51;
    font-size: 12px;
    text-decoration: underline;
}

.reports-open-exporter-directory {
    padding-top: 4px;
}

.reports-open-data-directory:hover,
.reports-open-exporter-directory:hover {
    color: #5e5e61;
}
