.titlebar {
    height: 38px;
    line-height: 38px;
    text-align: center;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0 5px;
    flex-shrink: 0;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    color: #5e5e61;
}

.titlebar .left,
.titlebar .title,
.titlebar .right {
    flex: 1;
}

.titlebar .left {
    text-align: left;
}

.titlebar .right {
    text-align: right;
}

.titlebar .titlebar-button {
    display: inline-block;
    -webkit-app-region: no-drag;
    width: 32px;
    height: 38px;
    cursor: pointer;
}

.titlebar .close-button {
    background-image: url(../assets/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px auto;
}
.titlebar .close-button:active {
    background-image: url(../assets/close-active.svg);
}

.titlebar .window-mode-button {
    background-image: url(../assets/collapse.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px auto;
}
.titlebar .window-mode-button:active {
    background-image: url(../assets/collapse-active.svg);
}

.titlebar .reports-button {
    background-image: url(../assets/reports.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px auto;
}
.titlebar .reports-button:active,
.titlebar .reports-button.open {
    background-image: url(../assets/reports-active.svg);
}
